body {
    background-color: black;
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

header {
    background: rgba(0, 0, 0, 0.3);
    padding: 0.8em 0;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 10px;
}

#music {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    font-size: 10px;
}

canvas {
    margin-top: 10px;
    background: url("http://www.graciaviva.cat/png/big/13/138971_pixel-art-space-background.png");
    image-rendering: pixelated;
    background-size: 100%;
}

.twitter-tweet {
    position: relative;
    margin: 0 auto;
    padding-top: 15px;
}

#musicBtn {
    cursor: pointer!important;
}